:root {
  --background-color: #fefefe;
  --color: #343434;
}

body {
  background-color: var(--background-color);
  color: var(--color);
}

.App {
  font-family: "Sansita One", serif;
  text-align: center;
}

.TodoApp label {
  cursor: pointer;
  user-select: none;
}

.add-new-todo {
  display: block;
  margin-bottom: 10px;
}

.add-new-todo button {
  margin-left: 10px;
}

.find-todo label {
  margin-right: 10px;
}

.loading {
  margin-left: 10px;
}

.todo-container {
  list-style: none;
}

.todo-container li {
  margin: 10px 0;
  font-size: 20px;
}

.completed-todo {
  text-decoration: line-through;
  color: grey;
}

.tickbox input {
  margin-right: 10px;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;

}

.theme-switch-wrapper em{
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
